@import '../../index.scss';
.home-view {
  .keyword-length {
    color: $light-orange;
  }
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /* Responsive layout */
  @media (max-width: 812px) {
    .card-wrapper {
      flex-wrap: wrap;
      flex-direction: column;
      .card {
        width: 100vw; /* and this */
      }
    }
  }
}
