@import '../../index.scss';
@import '../../scssMixIn.scss';

.admin-profile-view-wrapper {
  .heading {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: $secondary-bg-colour;
    z-index: 100;
  }
  .image {
    width: 120px;
    height: 120px;
  }
  .admin-profile-inner-wrapper {
    border: green 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item {
    width: 100%;
    height: auto;
    text-align: center;
  }

  h6 {
    margin: 0;
  }
}
