@import '../../index.scss';
@import '../../scssMixIn.scss';

.user-review-login-wrapper {
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $main-font-colour;
    border-radius: 4px;
    width: 25%;
    margin: 0.4em 0.4em 0.4em 0;
  }
  select::-ms-expand {
    display: none;
  }
  select > option {
    background-color: $main-font-colour;
    border-radius: 4px;
  }
}
.card-form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;

  .card-form-inner-wrapper {
    flex-basis: 48%;
    // flex-basis: clamp(48%, 48%, 100%);
    form {
      width: 100%;
      border: 1px solid $border-colour;
      padding: 0.5em;
      background-color: black;
    }
  }
}
/* Responsive layout */
@media (max-width: 812px) {
  .card-form-wrapper {
    .card-form-inner-wrapper {
      flex-basis: 100%;
    }
  }
}
