@import '../../index.scss';
@import '../../scssMixIn.scss';

header {
  @include border-all(1px, solid, $light-orange);
  height: $header-height;
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    background-color: $main-bg-colour;
    color: $main-font-colour;
  }
  nav {
    display: flex;
  }
}
