@import '../../index.scss';
@import '../../scssMixIn.scss';

header {
  @include border-all(1px, solid, $light-orange);
  height: $header-height;
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .btn {
    background-color: $main-bg-colour;
    color: $main-font-colour;
  }
  nav {
    display: flex;
    .user-info-wrapper {
      display: flex;
      align-items: center;
    }
  }
  .header-profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    i {
    }
    span {
      font-size: 0.7em;
      position: relative;
      top: 2px;
    }
  }
}
