@import '../../index.scss';
@import '../../scssMixIn.scss';

.card {
  // @include border-all(1px, solid, $border-colour);
  background-color: rgba(24, 24, 24, 1);
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}
