@import '../../index.scss';
@import '../../scssMixIn.scss';

.card {
  @include border-all(1px, solid, $light-orange);

  .card-profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
}
