@import '../../index.scss';
@import '../../scssMixIn.scss';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.card-inner-wrapper {
  padding: 0.4em;
  // @include border-all(1px, solid, $border-colour);
  background-color: rgba(24, 24, 24, 1);
  flex-basis: 24%;
  flex-grow: 1;
  max-width: 25%;
  border-left: 4px solid $secondary-bg-colour;

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .specialisation {
      font-size: 0.75em;
      width: (100% / 3);
      margin-left: 0.2em;
      text-align: center;
      background-color: rgba(0, 0, 0, 1);
    }
    .card-profile-image {
      width: 260px;
      height: 240px;
      margin: 0.4em;
    }
    .card-name {
      font-family: 'Bebas Neue', cursive;
      font-size: 2.6em;
      text-transform: uppercase;
    }
  }
}
/* Responsive layout */
@media (max-width: 812px) {
  .card-inner-wrapper {
    flex-wrap: wrap;
  }
}
